DATABASE_URL="postgresql://user_grafica:password_segura@localhost:5432/printflow_db"
PORT=3000

# WhatsApp Cloud API (Mock Environment)
WEBHOOK_VERIFY_TOKEN=dev_token_123
USE_MOCK_WHATSAPP=true

# --- WHATSAPP CLOUD API ---
# Token de acesso
WA_ACCESS_TOKEN=

# Identificação do número de telefone (Phone Number ID)
WA_PHONE_NUMBER_ID=

# Identificação da conta do WhatsApp Business (WABA ID)
WA_WABA_ID=

# --- META APP DETAILS ---
# ID do Aplicativo (App ID)
APP_ID=

# Chave secreta do aplicativo (App Secret)
APP_SECRET=